<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!-- 
        ConnectionString cho Server 1 (Phân mảnh 1 - Cơ sở 1) 
        Bạn cần thay đổi Data Source, Initial Catalog, User ID, Password
        -->
    <add name="THITN.Properties.Settings.Server1ConnectionString"
        connectionString="Data Source=LAPTOP-NERE0HJ3\DEV3;Initial Catalog=THITN;Persist Security Info=True;User ID=sa;Password=password1!"
        providerName="System.Data.SqlClient" />

    <!-- 
        ConnectionString cho Server 2 (Phân mảnh 2 - Cơ sở 2) 
        -->
    <add name="THITN.Properties.Settings.Server2ConnectionString"
        connectionString="Data Source=LAPTOP-NERE0HJ3\DEV2;Initial Catalog=THITN;Persist Security Info=True;User ID=sa;Password=password1!"
        providerName="System.Data.SqlClient" />

    <!-- 
        ConnectionString cho Server 0 (Máy chủ tra cứu) 
        -->
    <add name="THITN.Properties.Settings.Server0ConnectionString"
        connectionString="Data Source=LAPTOP-NERE0HJ3\DEV1;Initial Catalog=THITN;Persist Security Info=True;User ID=sa;Password=password1!"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>
